/server/.venv
/server/__pycache__
/server/raw_image
/server/final_result
/server/models
/server/mmdetection
/server/craft_pytorch/Results/data.csv
/server/yolov3_training_last.weights
/server/*.weights
/server/Test
/server/yolo
/server/CascadeTabNet
/client/node_modules
/client/yarn.lock
client/package-lock.json
.idea/
